#{extends 'main.html' /}
#{set title:'TemplateManager' /}
#{set 'moreScripts'}
	<script src="@{TemplateManager.script}" type="text/javascript" charset="utf-8"> </script>
	<script src="@{'public/javascripts/jquery.hash.js'}" type="text/javascript" charset="utf-8"> </script>
#{/set}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'public/stylesheets/templatemanager.less'}" type="text/css" charset="utf-8"> </style>
#{/set}



<div id="templatemanager" class="panel">
	<div class="head">
		Template Manager: ${project.name}
	</div>
	<div class="body">
		<ul>
		#{list items:templates, as:'template'}
			<li>
				<a href="@{TemplateManager.showTemplate(project.id,template.id)}">
					${template.name}
				</a>
				<br/>
				<span class="created">Created: ${template.created}</span>
			</li>
		#{/list}
		</ul>
	</div>
</div>
