#{extends 'main.html' /}
#{set title:'TemplateManager' /}
#{set 'moreScripts'}
	<script src="@{TemplateManager.script}" type="text/javascript" charset="utf-8"> </script>
	<script src="@{'public/javascripts/jquery.hash.js'}" type="text/javascript" charset="utf-8"> </script>
#{/set}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'public/stylesheets/templatemanager.less'}" type="text/css" charset="utf-8"> </style>
#{/set}



<div id="templatemanager" class="panel">
	<div class="head">
		Template Manager: ${project.name}
	</div>
	<div class="body">
		${template.name}
		<ul>
		#{list items:template.attributes, as:'attribute'}
			<li>
				${attribute.name}
				<a href="@{TemplateManager.removeAttribute(attribute.id)}">
					Delete
				</a>
				<br />
			</li>
		#{/list}
		</ul>
		#{form @TemplateManager.addAttribute()}
			<input type="hidden" name="templateId" value="${template.id}" />
			
			Attribute Name:<input type="text" name="name" />
			<input type="submit" value="Add Attribute" /> 
		#{/form}
	</div>
</div>
