#{extends 'main.html' /}
#{set title:'Project Listing' /}
#{set 'moreScripts'}
	<script src="@{ProjectManager.script}" type="text/javascript" charset="utf-8"> </script>
	<script type="text/javascript">
		var projectId = ${project?project.id:'null'};
	</script>
#{/set}

<h1>Project: ${project.name}</h1>
<a href="@{ImageBrowser.projectIndex(project.id)}">Go to Image Browser</a> | 
<a href="@{TemplateManager.projectIndex(project.id)}">Go to TemplateManager</a>

<br/>
<br/>

#{form @ProjectController.setUserPermission()}
	<input type="hidden" name="projectId" value="${project.id}" />
	<input type="hidden" name="permission" value="listed" />
	<input type="hidden" name="value" value="true" />
	<select name="userId">
		<option disabled>Add users to project</option>
		#{list items:users, as:'user'}
			<option value="${user.id}">${user.email}</option>
		#{/list}
	</select>
	
	<input type="submit" value="Add User" />
#{/form}


<hr/>
#{list items=project.users, as:'user'}
	#{set userPermissions:user.getPermissionsForProject(project)/}
	<div class="user" data-userId="${user.id}">
		${user.email} (<a href="@{ProjectController.setUserPermission(project.id,user.id,false)}">Remove</a>)<br/>
		<ul>
			#{list items=permissionsList, as:'permission'}
				<li>
					%{checked = false}%
					#{list items=userPermissions, as:'perm'}
						#{if perm.permission == permission}
							%{checked = true}%
						#{/if}
					#{/list}
					
					<input class="permission" type="checkbox" #{if checked}checked#{/if} #{if permission=='listed'}disabled#{/if} value="${permission}">
						${permission}
					</input>
				</li>
			#{/list}
		</ul>
	</div>
#{/list}


