#imagebrowser {
	width: 60em;
}

//this clears the floating elements
#imagebrowser > .body {
	overflow: auto;
}

#leftcolumn {
	width: 20em;
}
	
#browser {
	border: none;
	width: 100%;
	height: 20em;
	background: white;
}

#preview {
	width: 100%;
	height: 20em;
}

#preview img {
	width: 100%;
}

#metadata {
	width: 38em;
	height: 20em;
}

#metadata table {
	width: 100%;
	border-collapse: collapse;
}

#metadata table tr td {
	border-bottom: 1px dotted black;
	padding: .2em;
}

#metadata table tr .attribute {
	width: 15em;
}

#metadata table tr .value input {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}