//Bootstrap Tweaks
.nav-pills { //For project selector
	margin-bottom: 0;
}

.row-fluid [class*="span"] {
	//margin-left: 2px;
}

.nav-pills > li > a {
	padding: 3px 5px;
}

.nav-tabs { //For general tabs
	margin-bottom: 0;
}

.nav-tabs > li > a {
	padding-top: 0;
	padding-bottom: 1px;
}

//Header
.header {
	text-align: center;
	img {
		height: 40px;
		padding: 4px;
	}
}

.user-panel {
	text-align: right;
}


.main {
	.panel;
	width: 70em;
}

//Image Browser Sizing
select.file-select {
	height: 30em;
}

.template-select, .file-select	{
	width: 100%;
}

.panel {
	border: 1px solid #999;
	padding: 3px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

//Preview
.preview-image {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.no-selection {
	font-size: 1.1em;
	color: #999;
}

.metadata {
	.attributes {
		height: 23.6em;
	}
}

.metadata .data-row {
	border-bottom: 1px dotted black;
	padding: .2em;
}

.metadata .templated {
	background-color: #DDEEFF;
}

.metadata .attribute.novalue {
	color: #999999;
}

.metadata .value {
	height: 20px;
	border: 1px dashed #ccc;
	
	input {
		width: 100%;
		height: 100%;
	}
}

.row-fluid [class*='span'] {
	min-height: 0;
}

.ui-widget-content {
	background: white;
}

//Template Editor
.template-entry {
	margin: 2px 0px;
	
	> div {
		vertical-align: middle;
		display: inline-block;
	}
}

.add-field {
	font-size: .9em;
	padding: 3px;
}

//Project Settings
.directory .iconColumn {
	width: 30px;
}

.chosen-template {
	font-weight: bold;
}

//Image Sets
.image-set-mode {
	display: none;
}

.image-set-mode-active .image-set-mode {
	display: block;
}

.paper-listing .image {
	font-size: .8em;
	white-space: nowrap;
}

.image-set-top {
	text-align: right;
}