#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
	<script type="text/javascript">
		window.viewer = {};
		window.viewer.path = "/data${relativePath}";
		window.viewer.width = ${width};
		window.viewer.height = ${height};
	</script>
	
    <script data-main="/public/javascripts/viewer.js" src="@{'/public/javascripts/lib/require.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'public/stylesheets/imageviewer.less'}" type="text/css" charset="utf-8"> </style>
#{/set}