<% function getName(path) {
	var spl = path.split("/");
	return spl[spl.length-1];
} %>

<div class="image-set-top">
	<a href="/renderImageset/<%= imageset.id %>?size=300">Render HTML</a>
</div>
<div class="paper-listing">
	<% _.each(imageset.images,function(mem) { %>
		<% var image = mem.image; %>
		<div class="image" data-path="<%= image.path %>">
			<a href="#" class="remove"><i class="icon-remove" /></a>
			<a href="#<%= image.path %>" title="<%= image.path %>" class="text">
				<%= getName(image.path) %>
			</a>
		</div>
	<% }); %>
</div>
