<% if (!file || file.isDir) { %>
	<div class="no-selection">
		No image selected.
	</div>
<% } else { %>
	<div class="row-fluid">
		<a href="#" class="span6 toggle-hidden">
			Toggle hidden attributes
		</a>
			
		<% if (canEdit) { %>
			<a href="#" class="span6 add alignRight">
				Add New Attribute
			</a>
		<% } %>
	</div>
	
	<div class="attributes"></div>
	
	<div class="row-fluid">
		<a href="#" class="span6 toggle-hidden">
			Toggle hidden attributes
		</a>
			
		<% if (canEdit) { %>
			<a href="#" class="span6 add alignRight">
				Add New Attribute
			</a>
		<% } %>
	</div>
	
<% } %>

<div class="attribute-history-dialog modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Attribute History</h3>
	</div>
	
	<div class="modal-body">
		<div class="attribute-history"></div>
	</div>
	
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>