<div class="row-fluid">
	<div class="image-info span7">
		<% if (!file && !files) { %>
			<div class="no-selection faint">
				No selection
			</div>
		<% } else if (file && file.isDir){ %>
			<div class="directory faint">
				Directory Selected
			</div>
			<a href="#" class="set-visible">Set all visible (recursive)</a>
			<br/>
			<a href="#" class="set-invisible">Set all invisible (recursive)</a>
		<% } else if (files.length > 1) { %>
			<div class="directory faint">
				Multiple files selected
			</div>
			<% if (dirCount) { %>
				<a href="#" class="set-visible">Set all visible (recursive)</a>
				<br/>
				<a href="#" class="set-invisible">Set all invisible (recursive)</a>
			<% } else { %>
				<a href="#" class="set-visible">Set all visible</a>
				<br/>
				<a href="#" class="set-invisible">Set all invisible</a>
			<% } %>
		<% } else { %>
			<%= file.display %>
			<br/>
			
			<a href="/data<%= file.path %>" class="open-file">
				View <%= file.isImage ? "image" : "document" %>
			</a>
			<br/>
			
			<a href="/data<%= file.path %>?download" class="open-file">
				Download <%= file.isImage ? "image" : "document" %>
			</a>
			<br/>
			
			
			<a href="@{ImageBrowser.downloadAttributes}?project.id=<%= file.project.id %>&path=<%= file.path %>" class="download-metadata">
				Export Metadata
			</a>
			<br/>
			
			<% if (canEdit) { %>
				<div class="upload-link">
					<div class="upload-cover">Import Metadata</div>
					<input class="metadata-upload file-upload" type="file" name="file" data-url="@{ImageBrowser.importAttributes}" multiple>
				</div>
				<br/>
			<% } %>
			
			<% if (Util.permits(access,"SET_VISIBLE")) { %>
				<a href="#" class="toggle-visible"></a>
				<br/>
			<% } %>
			
			<% if (canEdit) { %>
				<a href="#" class="copy">Copy</a> | <a href="#" class="paste">Paste</a>
				<br/>
			<% } %>
			
			<a href="#" class="add-to-image-set image-set-mode">
				Add to image set
			</a>
			<br/>
			
			<b>Browser link and thumbnail:</b>
			<% if (file.isImage) { %>
<textarea class="html-textarea"><a href='${serverUrl}/entry/<%= file.project.id %>#<%= file.path %>'><%= file.display %></a>
<br/>
<a href='${serverUrl}/data<%= file.path %>'><img src='${serverUrl}/data<%= file.path %>?mode=fit&width=300&brightness=0&contrast=0'></a></textarea>
			<% } else { %>
<textarea class="html-textarea"><a href='/data<%= file.path %>'><%= file.display %></a></textarea>
			<% } %>
		<% } %>
	</div>
	
	<div class="preview-image span5">
		<% if (!file && !files) { %>
			<img src='http://placehold.it/200x200'>
		<% } else if (file && file.isDir){ %>
			<img src='http://placehold.it/200x200'>
		<% } else if (files.length > 1) { %>
			<img src='http://placehold.it/200x200'>
		<% } else if (file.isImage) { %>
			<a href='@{ImageViewer.index()}<%= file.path %>'>
				<img class="full-image" data-src="/data<%= file.path %>?mode=fit&width=500&height=500">
				<img src='/data<%= file.path %>?mode=thumb'>
			</a>
		<% } else { %>
			<a href='/data<%= file.path %>'>
				<img src='/public/images/document.png' height="200px">
			</a>
		<% } %>
	</div>
	
</div>
