<div>
	<b>Template: </b><%= template.name %>
	( <a href="#" class="delete-template">delete</a> )
	( <a href="#" class="duplicate-template">duplicate</a> )
	( <a href="#" class="rename-template">rename</a> )
	( <a href="@{TemplateController.exportTemplate}?template.id=<%=template.id%>" class="export-template">export</a> )
</div>
<br/>

<div class="template-editor">
	<% _.each(template.attributes,function(attr,index) { %>
		<div class='row template-entry' data-index="<%= index %>">
			<div class="pull-left">
				<span class="handle">
					<i class="icon-resize-vertical"/>
				</a>
			</div>
			
			<div class='pull-left field'>
				<input type='checkbox' name='hidden' value="true" title="hidden" <%= attr.hidden ? "checked" : "" %> />
			</div>
			
			<div class='pull-left field'>
				<input type='text' name='name' class='seamless' placeholder="Field" value="<%= attr.name %>"/>
			</div>
			
			<div class='pull-left field'>
				<textarea name='description' class="description-textarea" placeholder="Description"><%= attr.description %></textarea>
			</div>
			
			<div clas="pull-left">
				<a href="#" class="remove">
					<i class="icon-remove"/>
				</a>
			</div>
		</div>
	<% }); %>
</div>
<div class="row">
	<div class="pull-right">
		<a href="#" class="add">Add Field</a>
	</div>
</div>
