<% if (templates && templates.length) { %>
	<ul class="nav nav-pills nav-stacked">
		<% _.each(templates,function(template,index) { %>
			<li>
				<a class="template" href="#" data-index="<%=index%>" data-id="<%= template.id %>">
					<%= template.name %>
				</a>
			</li>
		<% }); %>
	</ul>
<% } else { %>
	<div>
		There are no templates associated with this project.
	</div>
<% } %>

<% if (Util.permits(access,"CREATE_TEMPLATES")) { %>
	<div class="row">
		<div class="pull-right">
			<div class="upload-link">
				<div class="upload-cover">Import Template</div>
				<input class="template-upload file-upload" type="file" name="file" data-url="@{TemplateController.importTemplate}" multiple>
			</div> | 
			
			
			<a href="#" class="add">Add Template</a>
		</div>
	</div>
<% } %>