<table class="userinformation">
	<tr>
		<td>
			Email
		</td>
		
		<td>
			<%= user.email %> 
		</td>
	</tr>
	<tr>
		<td>
			Created
		</td>
		
		<td>
			<%= moment(user.created).format('MMMM Do YYYY, h:mm:ss a') %>
		</td>
	</tr>
	<% if (user.activation) { %>
		<tr>
			<td>
				Activation Code
			</td>
			
			<td>
				<a href="@@{UserController.doActivate}?activationCode=<%= user.activation.activationCode %>"><%= user.activation.activationCode %></a>
				(expiry: <%= moment(user.activation.expirationDate).fromNow() %>)
				<br/>
				<a href="@@{UserController.resendActivation}?email=<%=user.email%>">Regenerate Token</a>
			</td>
		</tr>
	<% } %>
	<tr>
		<td>
			Actions
		</td>
		<td>
			<a href="#" class="mimic-user">Mimic User</a> <br/>
			<a href="#" class="delete-user" data-userid="<%= user.id %>" data-confirm="Are you sure you want to delete this user? (<%= user.email %>)">Delete User</a>
		</td>
	</tr>
</table>

<div class="permissions"></div>