<% if (!user) { %>
	No user selected.
<% } else { %>

<%= user.email %> <span class="created">created <%= user.created %></span>
<br/>

<% if (showRemove) { %>
	<a href="#" class="remove">Remove user</a>
<% } %>

<hr/>

<table>
	<% _.each(permissions,function(perm) { %>
		<tr>
			<td>
				<input id="<%= user.email+perm %>" type="checkbox" <%= user.root ? 'disabled' : '' %> name="permission" value="<%= perm %>" <%= userPermissionMap[perm]?"checked":"" %> >
				</input>
			</td>
			<td>
				<label for="<%= user.email+perm %>">
					<%= perm %>
				</label>
			</td>
		</tr>
	<% }); %>
</table>


<% } %>