<!DOCTYPE html>

<html>
    <head>
        <title>Access Denied</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>    
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.less">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/index.less">
    </head>
    <body>
    	<div class="main">
    		<div class="header">
				<div class="row-fluid">
					<div class="span4">
					</div>
					<div class="span4 header">
						<a href="/">
							<img src="/public/images/logo.png" />
						</a>
					</div>
					<div class="span4">
					</div>
				</div>
			</div>
		
	        <h1>Access Denied</h1>
	        <p>
	            ${result.message}
	        </p>
	        
	        Return to the <a href="/">Homepage</a> to try again.
		</div>
    </body>
</html>
