#{extends 'main.html' /}
#{set title:'Project Listing' /}

<h1>Projects</h1>

<ul>
	#{list items:projects, as:'project'}
		<li>
			<a href="@{Application.showProject(project.id)}">
				${project.name}
			</a>
			<br/>
			<span class="created">Created: ${project.created}</span>
			
			<ul class="actions">
				<li>
					<a href="@{Application.deleteProject(project.id)}">Delete</a>
				</li>
			</ul>
		</li>
		
	#{/list}
</ul>

<hr/>

<form action="@{Application.createProject()}" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" />
    <input type="submit" value="Create Project" />
</form>
